@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');

#carouselProducts > div.carousel-inner > div > img {
    max-width: 500px;
    margin: auto;
}

#carouselProducts >div.carousel-inner > div > div > h1 {
    color: black;
}

#carouselProducts >div.carousel-inner > div > div > p {
    color: black;
    font-size: 30px;
}

main > div#products {
    font-size: 25px;
}

header > nav > div.container > a {
    font-size: 30px;
}

footer {
    margin-top: 20px;
}

body {
    max-width: 980px;
    margin: auto;
    font-family: 'Kurale', serif;
    scroll-behavior: smooth;
}
